$primary-color:#4a90e2;
$dark-grey:#333;
$light-grey:#f4f4f4;
$white:#ffffff;

$main-font: 'Poppins', sans-serif;

$card-border-radius:15px;
$card-padding:20px; 



$secondary-color:#e24a4a;
$dark-dark:#0000; 

